*{
  box-sizing: border-box;
  /* border: 1px solid orange; #EDCBB1 */
}

.App {
  text-align: center;
  display:flex;
  width:100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color:  #002500;
  color: #EDCBB1;
}
.loading {
  color: #95B1A1;
  font-size: 2rem;
}
.discover {
display: flex;
text-align: left;
background-color: #929982;
border: 2px;
border-radius: 5px;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}